{% extends "../base.html" %}

{% block content %}
    {% load static %}
    {% load format_upload_url %}
    {% load format_price %}
    <div class="pt-5">
        <div class="row">
            <div class="col-auto" style="margin-top: 7px;"><a href="{% url 'list_product' %}">
                <img height="15"
                     src="{% static 'app/img/arrow-left.svg' %}"
                     alt=""></a></div>
            <div class="col-auto"><h2>Product Weergeven</h2></div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <br>
                <div class="alert alert-primary" role="alert" style="width: 98%">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="detail-wrapper pt-5">
        <div class="datatable-image pt-3">
            <div class="datatable-image-cropper" style="width: 130px; height: 130px;">
                <img class="datatable-image" src="{% static product.picture|format_upload_url %}"
                     alt="">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col col-lg-2">
                <b>Naam</b>
                <br>
                {{ product.name }}
            </div>
            <div class="col col-lg-2">
                <b>Prijs</b>
                <br>
                €{{ product.price|format_price }}
            </div>
            <div class="col col-lg-2">
                <b>Product code</b>
                <br>
                {{ product.code }}
            </div>
        </div>
        <div class="row pt-4">
            <div class="col col-lg-2">
                <b>Omschrijving</b>
                <br>
                {{ product.description }}
            </div>
        </div>
        <div class="row pt-4">
            <div class="col col-lg-5">
                <div class="form-buttons">
                    <a href="{% url 'list_product' %}" class="btn btn-secondary">Ga terug</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
