{% extends "../base.html" %}

{% block content %}
    {% load static %}
    {% load format_upload_url %}
    <div class="pt-5">
        <div class="row">
            <div class="col-auto" style="margin-top: 7px;"><a href="{% url 'list_product' %}">
                <img height="15"
                     src="{% static 'app/img/arrow-left.svg' %}"
                     alt=""></a></div>
            <div class="col-auto"><h2>Product Wijzigen</h2></div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <br>
                <div class="alert alert-primary" role="alert" style="width: 98%">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="detail-wrapper pt-5">
        <form action="{% url 'update_product' id=product.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col col-lg-2">
                    <div class="datatable-image pt-3">
                        <div class="datatable-image-cropper" style="width: 130px; height: 130px;">
                            <img class="datatable-image" src="{% static product.picture|format_upload_url %}"
                                 alt="">
                        </div>
                    </div>
                </div>
                <div class="col col-lg-2">
                    <div class="form-group">
                        <label>Foto</label>
                        <br>
                        <input type="file" accept="image/*" onchange="loadFile(event)" name="picture">
                        <div class="detail-image">
                            <img id="output"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col col-lg-2">
                    <div class="form-group">
                        <label>Naam</label>
                        <input type="text" class="form-control" value="{{ product.name }}" name="name">
                    </div>
                </div>
                <div class="col col-lg-2">
                    <div class="form-group">
                        <label>Prijs</label>
                        <input type="number" class="form-control" value="{{ product.price }}" step=".01" name="price">
                    </div>
                </div>
                <div class="col col-lg-2">
                    <div class="form-group">
                        <label>Product code</label>
                        <input type="number" class="form-control" value="{{ product.code }}"
                               name="code">
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col col-lg-6">
                    <div class="form-group">
                        <label>Omschrijving</label>
                        <textarea type="number" class="form-control"
                                  name="description">{{ product.description }}</textarea>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col col-lg-6">
                    <div class="form-group form-buttons">
                        <a href="{% url 'list_product' %}" class="btn btn-secondary">Ga terug</a>
                        <button type="submit" class="btn btn-primary"><img class="button-icon"
                                                                           src="{% static 'app/img/edit-white.svg' %}"
                                                                           alt="">Wijzigen
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src)
            }
        };
    </script>
{% endblock content %}
