/* --- GENERAL --- */
:root {
    --blue: #003171;
    --darkerBlue: #002652;
    --black: #3E3E3E;
    --text: #878D99;
    --textDark: #03142C;
    --grey: #F1F1F1;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    color: var(--black);
    overflow-x: hidden;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    background-color: var(--blue) !important;
    padding: 10px 50px;
}

.btn-primary:hover {
    background-color: var(--darkerBlue) !important;
    padding: 10px 50px;
}


/* --- LOGIN --- */
.login-form {
    max-width: 600px;
    margin: auto;
}

.login-form h2 {
    color: #A8A8A8;
    font-weight: 200;
}

.login-form a {
    text-align: right;
}

.login-form input[type="email"], .login-form input[type="password"], .login-form input[type="text"] {
    padding: 12px;
}

.form-control:focus {
    border-color: var(--blue);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0);
}

/* --- SIDE MENU --- */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    margin-left: -190px !important;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey);
    overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    margin-left: 50px;
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
    padding-bottom: 10px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: var(--text);
}

.sidebar-nav li a:hover {
    color: var(--blue);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: var(--textDark);
    font-weight: bold;
}

.active-item {
    background-color: #FBFBFC;
    color: var(--blue) !important;
    border-radius: 10px;
    width: 90%;
}

#menu-toggle img {
    height: 25px;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* The sidebar menu */
.side-icons-bar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FBFBFC;
    overflow-x: hidden;
    padding-top: 135px;
}

.side-icon {
    width: 25px;
}

.side-icons-bar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    padding-bottom: 25px;
    display: block;
}

.active-icon {
    background-color: #003171;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    height: 40px;
    width: 40px;
    margin-left: -5px;
}